<div style="display: flex; justify-content: center; align-items: center; height: 100vh;" class="bckgrnd">
    <p-card header="Iniciar Sesión" styleClass="sm:w-full md:w-full lg:w-full xl:w-full" >
      <div style="text-align: center">
        <h2 style="font-weight: 900 text-3xl">Challenge ELDAR</h2>
        <br />
      </div>
      <form [formGroup]="form" (ngSubmit)="login()">
      <div style="display: flex; flex-direction: column; align-items: center;">
        <p-floatLabel>
          <input class="w-22rem" type="email" pInputText id="email" formControlName="email" />
          <label for="email">Email</label>
        </p-floatLabel>
        <br />
        <p-floatLabel class="mt-4">
          <input class="w-22rem" minlength="8" type="password" pInputText id="password" formControlName="password" />
          <label for="password">Contraseña</label>
        </p-floatLabel>
        <br>
        <div class="flex gap-3">
        @for (rol of roles; track rol) {
          <div class="field-checkbox">
            <p-radioButton 
                [inputId]="rol" 
                [value]="rol" 
                formControlName="rol" />
            <label [for]="rol" class="ml-2">
                {{ rol }}
            </label>
        </div>
        }
      </div>
        <div class="flex gap-3">
          <p-button label="Simular falla" severity="danger" [disabled]="form.invalid" (onClick)="fallar()" />
        <p-button label="Ingresar" [disabled]="form.invalid" (onClick)="login()" />
      </div>

      </div>
    </form>
    </p-card>
  </div>
  