<app-menubar></app-menubar>
<app-container>
  <p-card header="Posts">
    <div class="grid justify-content-center">

      <div class="sm:col-12 md:col-12 lg:col-4 xl:col-4"></div>
    
      <div class="sm:col-12 md:col-12 lg:col-4 xl:col-4 text-center">
        <p-selectButton
          [options]="gridOptions"
          [(ngModel)]="tipoVisualizacion"
          optionLabel="icon"
          optionValue="value"
          class="text-center"
          (onChange)="onChangeSelection($event)"
        >
          <ng-template let-item pTemplate>
            <i [class]="item.icon"></i>
          </ng-template>
        </p-selectButton>
      </div>
      

      <div class="sm:col-12 md:col-12 lg:col-4 xl:col-4 text-right ">
        <div *ngIf="tipoVisualizacion === 'grid'">
          <p-button icon="pi pi-refresh" (onClick)="getPosts()" />
          @if (permisos.includes(canCreate) && roles.includes(admin) || false) {
          <p-button
            label="Crear post"
            icon="pi pi-plus"
            class="p-button-success"
            iconPos="right"
            [style]="{ 'margin-left': '2rem' }"
            (onClick)="createPost()"
          />
          }
        </div>
      </div>
    </div>

    <br />

    <p-table
      *ngIf="tipoVisualizacion === 'table'"
      #dt2
      [value]="posts"
      [tableStyle]="{ 'min-width': '50rem' }"
      [rows]="10"
      styleClass="p-datatable-striped"
      dataKey="id"
      [paginator]="true"
      responsiveLayout="stack"
      [rowsPerPageOptions]="[10, 25, 50]"
      [responsive]="true"
      [rowHover]="true"
      [loading]="loadingTabla"
      id="posts"
      [autoLayout]="true"
      [breakpoint]="'960px'" 
      [resizableColumns]="true"
      [globalFilterFields]="['userId', 'id', 'title', 'body']"
      currentPageReportTemplate="Mostrando de {first} a {last} de {totalRecords} entradas"
      [showCurrentPageReport]="true"
    >
      <ng-template pTemplate="caption">
        <div class="grid sm:justify-content-end md:justify-content-end">
        
          <div class="md:col-12 sm:col-12 lg:col-4 xl:col-4"></div>
          <div class="md:col-12 sm:col-12 lg:col-4 xl:col-4 text-center"></div>
          
          <div class="md:col-12 sm:col-12 lg:col-4 xl:col-4 text-right">
            <p-button icon="pi pi-refresh" (onClick)="getPosts()" />
            @if (permisos.includes(canCreate) && roles.includes(admin) || false) {
              <p-button
                label="Crear post"
                icon="pi pi-plus"
                class="p-button-success"
                iconPos="right"
                [style]="{ 'margin-left': '2rem' }"
                (onClick)="createPost()"
              />
            }
            
          </div>
        </div>
      </ng-template>

      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="id">ID <p-sortIcon field="id" /></th>
          <th pSortableColumn="title">Titulo<p-sortIcon field="title" /></th>
          <th pSortableColumn="body">Cuerpo<p-sortIcon field="body" /></th>
          <th pSortableColumn="userId">Usuario<p-sortIcon field="userId" /></th>
          @if (permisos.includes(canCreate) && roles.includes(admin) || false) {
          <th>Acciones</th>
          }
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-post>
        <tr>
          <td>{{ post?.id }}</td>
          <td>{{ post?.title }}</td>
          <td>{{ post?.body | truncarTexto }}</td>
          <td>{{ post?.userId }}</td>
          @if (permisos.includes(canCreate) && roles.includes(admin) || false) {
          <td>
            <p-button
              class="mx-2"
              [rounded]="true"
              size="small"
              (onClick)="editPost(post)"
              icon="pi pi-pencil"
            ></p-button>
            <p-button
              class="mx-2"
              [rounded]="true"
              size="small"
              (onClick)="deletePost(post.id)"
              [style]="{ background: 'red', color: 'white' }"
              icon="pi pi-trash"
            ></p-button>
          </td>
        }
        </tr>
      </ng-template>
    </p-table>

   
    <div class="grid" *ngIf="tipoVisualizacion === 'grid'">
    
      <div *ngIf="loadingTabla">
        <div class="sm:col-12 md:col-12 lg:col-4 xl:col-3" *ngFor="let a of [0,1,2,3,4,5,6]">
          <p-skeleton class="w-full" height="6rem" />
        </div>
      </div>

      
      <div class="sm:col-12 md:col-12 lg:col-4 xl:col-3" *ngFor="let post of posts">
        <p-card [header]="post.title" [subheader]="'Usuario: ' + post.userId">
          <p class="text-center font-light">{{ post.body }}</p>
          @if (permisos.includes(canCreate) && roles.includes(admin) || false) {
          <ng-template pTemplate="footer">
            <div class="flex gap-3 mt-1">
              <p-button
                label="Eliminar"
                severity="danger"
                class="w-full"
                (onClick)="deletePost(post.id)"
                styleClass="w-full"
              ></p-button>
              <p-button
                label="Editar"
                (onClick)="editPost(post)"
                class="w-full"
                styleClass="w-full"
              ></p-button>
            </div>
          </ng-template>
        }
        </p-card>
      </div>
    </div>
  </p-card>
</app-container>
